@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  background-color: white;
  border-color: black;
  width: 300px;
  height: 400px;
  border-radius: 5%;
  margin: auto;
  margin-top: 200px;
}
#cardHeader {
  height: 50px;
  margin-top: 10px;
  text-align: start;
  font-size: 50px;
}

#cardFooter {
  height: 50px;
  margin-bottom: 30px;
  text-align: end;
  font-size: 50px;
}

#cardBody {
  padding-top: 60px;
  font-size: 100px;
}

.boton {
  width: 70px;
  margin: auto;
  margin-top: 50px;
}
